@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Geist+Mono:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  text-align: center;
  font-family: Roboto Mono, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("Gambar/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

label {
  display: block;
  margin: 5px 0 5px;
  color: #00bfff;
  font-size: 25px;
}

input,
button {
  padding: 20px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 250px;
  border-radius: 5px;
  font-size: 15px;
  border: #14a3c7;
  box-shadow: 0 3px 8px #14a3c7;
  color: white;
}

button {
  cursor: pointer;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(72, 99, 160);
  color: rgb(21, 27, 84);
}

img {
  width: 150px;
  height: auto;
}

h1 {
  color: white;
  font-size: 40px;
}

h2 {
  color: #00bfff;
  font-size: 20px;
}

#clock {
  font-size: 20px;
  color: white;
  font-family: Geist Mono, sans-serif;
}

input {
  background-color: transparent;
}

input[type="number"] {
  color: white;
}
